{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'main' %}">
                    Main
                </a>
                <a href="{% url 'info' %}">
                    About us
                </a>
                <a href="{% url 'favpage' %}">
                    Favorites
                </a>
                <a href="{% url 'sign_in' %}">
                    Sign in
                </a>
                <a href="{% url 'sign_up' %}">
                    Sign up
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="cart">
            <div class="card_left">
                {% for i in product %}
                <div class="product_row">
                    <img src="{{i.image.url}}" alt="">
                    <div>
                        <h3><a href="{% url 'detail' i.id %}">{{i.title}}</a></h3>
                        <p>{{i.price}}</p>
                        <a href="{% url 'deleete' i.id %}">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="cart_right">
                <p>Итоговая цена: {}</p>
                <p>Количество товаров: {}</p>
                <a href="">Офформить заказ</a>
            </div>
        </div>
    </div>
</body>
</html>